<header>
  <div class="header-container my-library-conteiner container">
    <div class="header-navigation">
      <div class="header-logo">
        <a class="header-logo-link" href="./index.html" lang="en">
          <span class="header-logo-icon"></span>
          <span class="header-logo-name">Filmoteka</span>
        </a>
      </div>
      <div class="header-menu">
        <ul class="header-navigation-list">
          <li class="header-navigation-item">
            <a class="header-navigation-page" href="./index.html">home</a>
          </li>
          <li class="header-navigation-item">
            <a class="header-navigation-page is-current" href="./my-library.html">my library</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="button-block">
      <button type="button" class="my-library-button lib-watched-js">Watched</button>
      <button type="button" class="my-library-button lib-queue-js is-active">queue</button>
    </div>
  </div>
</header>
