<div class="students-backdrop visually-hidden" data-modal>
  <div class="students">
    <button type="button" class="close-button">
      <svg class="close-button__icon">
        <use href="./images/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>

    <h2 class="students-title">
      <svg class="students-title__icon">
        <use href="./images/sprite.svg#icon-footer"></use>
      </svg>
      GoIT Students
    </h2>
    <a href="https://github.com/VladHorii/filmoteka-team-proj" target="_blank"
      ><p class="students-team-name">Team I4T - I for team</p></a
    >
    <ul class="students-list">
      <!-- Vladislav Samoilenko -->
      <li class="students-list__item">
        <div class="students__thumb">
          <img src="./images/students/vladislav-samoilenko.jpg" alt="Vladislav Samoilenko" />
        </div>

        <div class="students__content-wrapper">
          <h3 class="students__name">Vladislav Samoilenko</h3>
          <p class="students__positiom" lang="en">Team lead</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!--  Gleb -->
      <li class="students-list__item">
        <div class="students__thumb"><img src="" alt=" Gleb" /></div>

        <div class="students__content-wrapper">
          <h3 class="students__name">Gleb</h3>
          <p class="students__positiom" lang="en">Scrum master</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Andres Link -->
      <li class="students-list__item">
        <div class="students__thumb">
          <img src="./images/students/andres-link.jpg" alt="Andres Link" />
        </div>

        <div class="students__content-wrapper">
          <h3 class="students__name">Andres Link</h3>
          <p class="students__positiom" lang="en">Full Stack Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!--Andrii Prediein  -->
      <li class="students-list__item">
        <div class="students__thumb"><img src="" alt="Andrii Prediein" /></div>

        <div class="students__content-wrapper">
          <h3 class="students__name">Andrii Prediein</h3>
          <p class="students__positiom" lang="en">Full Stack Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Denis Tarasov-->
      <li class="students-list__item">
        <div class="students__thumb">
          <img src="./images/students/денис-тарасов.jpg" alt="Denis Tarasov" />
        </div>

        <div class="students__content-wrapper">
          <h3 class="students__name">Denis Tarasov</h3>
          <p class="students__positiom" lang="en">Full Stack Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Ekaterina Lavrinenko -->
      <li class="students-list__item">
        <div class="students__thumb"><img src="" alt="Ekaterina Lavrinenko" /></div>

        <div class="students__content-wrapper">
          <h3 class="students__name">Ekaterina Lavrinenko</h3>
          <p class="students__positiom" lang="en">Full Stack Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!--  Nina Vasilieva -->
      <li class="students-list__item">
        <div class="students__thumb">
          <img src="./images/students/nina-vasilieva.jpg" alt=" Nina Vasilieva" />
        </div>

        <div class="students__content-wrapper">
          <h3 class="students__name">Nina Vasilieva</h3>
          <p class="students__positiom" lang="en">Full Stack Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Olga Dorosh -->
      <li class="students-list__item">
        <div class="students__thumb">
          <img src="./images/students/olga-dorosh.jpg" alt="Olga Dorosh" />
        </div>
        <div class="students__content-wrapper">
          <h3 class="students__name">Olga Dorosh</h3>
          <p class="students__positiom" lang="en">Full Stack Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Olga Šalimova -->
      <li class="students-list__item">
        <div class="students__thumb"><img src="" alt="Olga Šalimova" /></div>

        <div class="students__content-wrapper">
          <h3 class="students__name">Olga Šalimova</h3>
          <p class="students__positiom" lang="en">Full Stack Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Stanislav Kruhliak -->
      <li class="students-list__item">
        <div class="students__thumb"><img src="" alt="Stanislav Kruhliak" /></div>

        <div class="students__content-wrapper">
          <h3 class="students__name">Stanislav Kruhliak</h3>
          <p class="students__positiom" lang="en">Full Stack Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- Иван Булавенко -->
      <li class="students-list__item">
        <div class="students__thumb"><img src="" alt="Иван Булавенко" /></div>

        <div class="students__content-wrapper">
          <h3 class="students__name">Иван Булавенко</h3>
          <p class="students__positiom" lang="en">Full Stack Developer</p>
          <ul class="social-list list">
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a href="" class="social-list__link">
                <svg class="social-list__icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
