.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 40px;
  padding-bottom: 40px;
}

.pagination ul {
  display: flex;
  justify-content: space-between;

  max-width: 280px;
  height: 40px;
}

.pagination li {
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  &.btn-arrow {
    background-color: #f7f7f7;
  }

  &.number:hover,
  &.number:focus,
  &.btn-arrow:hover {
    color: #f7f7f7;
    background-color: #ff6b08;
    border-radius: 5px;
  }
}

.pagination li.number.active {
  color: #f7f7f7;
  background-color: #ff6b08;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .pagination {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .pagination ul {
    max-width: 374px;
  }
}
