:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body.light-theme {
  color: #000000;
  background-image: linear-gradient(to right, rgba(240, 231, 231, 0.4), rgba(240, 231, 231, 0.4)),
    url(../images/background-image/theme.png);
  .js-modal-movie {
    background-image: linear-gradient(to right, rgba(255, 254, 254, 0.9), rgba(255, 255, 255, 0.9)),
      url(../images/background-image/modal_dark-theme.png);
  }

  .js-modal-bg-theme-switch {
    background-image: linear-gradient(to right, rgba(255, 254, 254, 0.9), rgba(255, 254, 254, 0.9)),
      url(../images/background-image/modal_dark-theme.png);
    .students-list__item {
      background-image: linear-gradient(
          to right,
          rgba(255, 250, 245, 0.9),
          rgba(240, 240, 240, 0.9)
        ),
        url(../images/background-image/modal_dark-theme.png);
    }
    .students__close-button {
      background-color: rgba(0, 0, 0, 0.1);
      .students__close-button-icon {
        fill: #000;
      }
    }
  }
}

body.dark-theme {
  color: #fff;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/background-image/theme.png);

  .js-modal-movie {
    background-image: linear-gradient(to right, rgba(60, 60, 60, 0.6), rgba(60, 60, 60, 0.6)),
      url(../images/background-image/modal_dark-theme.png);
    .vote_count {
      background-color: #444444;
    }

    .modal-button-watched,
    .modal-button-queue {
      background-color: #fff;
    }
    .modal-button-watched:hover,
    .modal-button-queue:hover,
    .modal-button-watched:focus,
    .modal-button-queue:focus {
      background-color: #ff6b01;
    }
  }

  .js-modal-bg-theme-switch {
    background-image: linear-gradient(to right, rgba(80, 80, 80, 0.6), rgba(80, 80, 80, 0.6)),
      url(../images/background-image/modal_dark-theme.png);
    .students-list__item {
      background-image: linear-gradient(to right, rgba(60, 50, 40, 0.4), rgba(60, 60, 60, 0.6)),
        url(../images/background-image/modal_dark-theme.png);
    }
  }
  .gallery-title-block__title {
    color: #fff;
  }
  .students__close-button {
    background-color: rgba(0, 0, 0, 0.25);
    .students__close-button-icon {
      fill: #fff;
    }
  }
}

.toolbar {
  position: absolute;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;

  left: calc(50% + 111px);
  top: 18px;

  @media screen and(min-width: 768px) {
    left: calc(50% + 266px);
    top: 18px;
  }
  @media screen and(min-width: 1024px) {
    left: calc(50% + 394px);
    top: 20px;
  }
}
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  color: #d3d3d4;
  height: 15px;
  width: 15px;
  margin-right: 4px;
  margin-left: 4px;

  @media screen and(min-width: 768px) {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 36px;
  height: 18px;
  border-radius: 50em;
  padding: 1px 0;

  @media screen and(min-width: 768px) {
    width: 45px;
    height: 20px;
  }
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #d3d3d4;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: var(--accent-color);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms var(--timing-function);

  @media screen and(min-width: 768px) {
    width: 18px;
    height: 18px;
  }
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(17px);
  background-color: #000;
  @media screen and(min-width: 768px) {
    transform: translateX(23px);
  }
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 2px var(--accent-color);
}
